<h2><%= title %></h2>
<h3>Logo inline</h3>
<img id="logo" width="100px" src="<%= logoPath %>">
<h3>Ad inline</h3>
<img id="ad" width="100px" src="<%= adInline %>">
<h3>Illustration external</h3>
<img id="illustration" width="100px" src="<%= illustrationPath %>">
<h3>Avatar external</h3>
<img id="avatar" width="100px" src="<%= avatarInline %>">
